{% extends "layout.html" %}

{% block script %}
var lat=13.0456
var lon=80.232
var zoom=12
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var icon = new OpenLayers.Icon("/static/images/bus_stop_22.png",iconSize,iconOffset);
var map;
var layerStages;

// Change info below to style the route line
var style_black = {
    strokeColor: "#000000",
    strokeOpacity: 0.7,
    strokeWidth: 4,
    strokeDashstyle: "solid",
    pointRadius: 15,
    pointerEvents: "visiblePainted"
                };
var style_red = {
    strokeColor: "#ff0000",
    strokeOpacity: 0.5,
    strokeWidth: 4,
    strokeDashstyle: "solid",
    pointRadius: 15,
    pointerEvents: "visiblePainted"
}
var style_blue = {
    strokeColor: "#0000ff",
    strokeOpacity: 0.5,
    strokeWidth: 4,
    strokeDashstyle: "solid",
    pointRadius: 15,
    pointerEvents: "visiblePainted"
}
var style_green = {
    strokeColor: "#00ff00",
    strokeOpacity: 0.5,
    strokeWidth: 4,
    strokeDashstyle: "solid",
    pointRadius: 15,
    pointerEvents: "visiblePainted"
}
function showpath(path_no)
{
   for(var i=0;i<layerStages.length;i++)
   {
      layerStages[i].setVisibility(false);
      layerRoute[i].setVisibility(false);      
   }
   layerStages[path_no].setVisibility(true);
   layerRoute[path_no].setVisibility(true);
}

$(document).ready(function() {
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );
            var layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Chennai");
            layerStages = []
            layerStages[0] = new OpenLayers.Layer.Markers("Route1 Stages");
            layerStages[1] = new OpenLayers.Layer.Markers("Route2 Stages",{visibility:false});
            layerStages[2] = new OpenLayers.Layer.Markers("Route3 Stages",{visibility:false});
            layerRoute = [];
            layerRoute[0] = new OpenLayers.Layer.Vector("Route1 Lines");
            layerRoute[1] = new OpenLayers.Layer.Vector("Route2 Lines",{visibility:false});
            layerRoute[2] = new OpenLayers.Layer.Vector("Route3 Lines",{visibility:false});
            map.addLayer(layerMapnik);
            map.addLayer(layerRoute[0]);
            map.addLayer(layerRoute[1]);
            map.addLayer(layerRoute[2]);
            map.addLayer(layerStages[0]);
            map.addLayer(layerStages[1]);
            map.addLayer(layerStages[2]);
            var start_point;
            var end_point;
            {% for path in paths %}
               if({{path.no}}==0) {
                  style_color = style_black;
               }
               else if({{path.no}}==1) {
                  style_color = style_red;
               }
               else if({{path.no}}==2) {
                  style_color = style_blue;
               }
               else {
                  style_color = style_green;
               }
               
               {% for co in path.changeovers %}
                  var points = [];
                  addStage({{co.start_stage.location.y}},{{co.start_stage.location.x}},{{co.start_stage.id}},'{{co.start_stage.display_name}}',{{path.no}});
                  addStage({{co.end_stage.location.y}},{{co.end_stage.location.x}},{{co.end_stage.id}},'{{co.end_stage.display_name}}',{{path.no}});
                  start_point = new OpenLayers.Geometry.Point({{co.start_stage.location.x}},{{co.start_stage.location.y}}).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
                  points.push(start_point);
                  end_point = new OpenLayers.Geometry.Point({{co.end_stage.location.x}},{{co.end_stage.location.y}}).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());
                  points.push(end_point);
                  layerRoute[{{path.no}}].addFeatures(new OpenLayers.Feature.Vector(new OpenLayers.Geometry.LineString(points),null,style_color));
               {% endfor %}
            {% endfor %}
            map.zoomToExtent(layerRoute[0].getDataExtent());
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
    });

function addStage(lat,lon,id,name,path_no) {
    var marker = new OpenLayers.Marker(new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()), icon.clone());
    marker.events.register("mouseover", marker, function(e){
		$("#from").attr("value",name);
		$("#from").keyup();
		OpenLayers.Event.stop(e);
		});
		marker.events.register("mouseout", marker, function(e){
		window.status = ' ';
		OpenLayers.Event.stop(e);
		});
	marker.events.register("mousedown", marker, function(e){
		window.location = "/chennai/stage/" + id;
		OpenLayers.Event.stop(e);
		});
    layerStages[path_no].addMarker(marker);
}

{% endblock %}

{% block title %}
{{start_stage.display_name}} to {{ end_stage.display_name }}
{% endblock %}

{% block main %}
<h1>Route from {{ start_stage.display_name }} to {{ end_stage.display_name }}</h1>

<div id="view">
	<div class="leftCol">
	  {% for p in paths %}
	  <div>
	   <div class="path_link" onclick="showpath({{p.no}});">
	   Click to See path
	   </div>
		{% for co in p.changeovers %}
		<h3>
			From
			<a href="{% url show-stage co.start_stage.id %}">
				{{ co.start_stage.display_name }}
			</a>
			to
			<a href="{% url show-stage co.end_stage.id %}">
				{{ co.end_stage.display_name }}
			</a>
		</h3>
		Take:
		{% for r in co.routes %}
		<span class="box bus">
		  <a href="{% url show-route r.display_name %}">
				{{ r.display_name }}
				</a> <br />
		</span>
		{% endfor %}
		{% endfor %}
		<hr />
	  </div>{% endfor %}
	</div>
	<div id="map"></div>
	<div class="clearfloat"></div>
</div>
{% endblock %}
